/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* -------------------------------------------------------- */
/* VARIABLES */
/* -------------------------------------------------------- */

/* Variables are used like this: var(--text-color) */
:root {
  /* Background Colors: */
  --background-color: #dcbbd2;
  --content-background-color: #fdeaf3;
  --sidebar-background-color: #fdeaf3;

  /* Text Colors: */
  --text-color: #89124e;
  --sidebar-text-color: #89124e;
  --link-color: #a048a2;
  --link-color-hover: #d50bb1;

  /* Text: */
  --font: "Inter", sans-serif;
  --heading-font: "Inter", sans-serif;
  --font-size: 15px;

  /* Other Settings: */
  --margin: 10px;
  --padding: 18px;
  --border: 4px solid #89124e;
  --round-borders: 10px;
  --sidebar-width: 170px;
}

