/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* -------------------------------------------------------- */
/* VARIABLES */
/* -------------------------------------------------------- */

/* Variables are used like this: var(--text-color) */
:root {
  /* Background Colors: */
  --background-color: #dcbbd2;
  --content-background-color: #fdeaf3;
  --sidebar-background-color: #fdeaf3;

  /* Text Colors: */
  --text-color: #89124e;
  --sidebar-text-color: #89124e;
  --link-color: #a048a2;
  --link-color-hover: #d50bb1;

  /* Text: */
  --font: "Inter", sans-serif;
  --heading-font: "Inter", sans-serif;
  --font-size: 15px;

  /* Other Settings: */
  --margin: 10px;
  --padding: 18px;
  --border: 4px solid #89124e;
  --round-borders: 10px;
  --sidebar-width: 170px;
}

/* -------------------------------------------------------- */
/* BASICS */
/* -------------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  font-size: var(--font-size);
  margin: 0;
  padding: var(--margin);
  color: var(--text-color);
  font-family: var(--font);
  line-height: 1.2;
  background: var(--background-color);
  background-image: url("https://img.spoonflower.com/c/15058951/p/f/m/vGGpvEk3ZNt6kE1xG-0wtoSSm94m-V5GFJ3PtP4ZfGr1JcRhiBl-BAZCUg/15058951.png");
}

::selection {
  /* (Text highlighted by the user) */
  background: rgba(0, 0, 0, 0.2);
}

mark {
  /* Text highlighted by using the <mark> element */
  text-shadow: 1px 1px 4px var(--link-color);
  background-color: inherit;
  color: var(--text-color);
}

/* Links: */
a {
  text-decoration: underline;
}

a,
a:visited {
  color: var(--link-color);
}

a:hover,
a:focus {
  color: var(--link-color-hover);
  text-decoration: none;
}

/* -------------------------------------------------------- */
/* LAYOUT */
/* -------------------------------------------------------- */

.layout {
  width: 1000px;
  display: grid;
  grid-gap: var(--margin);
  grid-template: "header header header" auto "leftSidebar main rightSidebar" auto "footer footer footer" auto / var(
      --sidebar-width
    ) auto var(--sidebar-width);
  /* Confused by the grid? Check out my tutorial: https://petrapixel.neocities.org/coding/positioning-tutorial#grid */
}

main {
  grid-area: main;
  overflow-y: auto;
  padding: var(--padding);
  background: var(--content-background-color);
  border: var(--border);
  border-radius: var(--round-borders);
}